$primary-color: #888;
$secondary-color: #222;

$font: Helvetica, sans-serif;

body {
    font-size: 11px;
    font-family: $font;

    text-align: center;
}

main {
    padding: 15px 15px 10px;
}

a {
    color: $primary-color;
    text-decoration: none;
    letter-spacing: 1px;
}

.product-images {
    article {
        /* Creates some vertical padding on each image */
        margin: 15px 0;

        @media screen and (min-width: 768px) {
            position: relative;
        }
    }

    .image {
        /* transitions to semi-transparent on hover */
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webit-transition: opacity .25s ease-in-out;

        img {
            /* Responsive images */
            width: 100%;
        }
    }
}

.shop-link {
    display: block;
    margin-top: 10px;

    a {
        padding-bottom: 1px;
        border-bottom: 1px solid #aaa;

        color: $secondary-color;

        @media screen and (min-width: 768px) {
            background-color: white;
            opacity: .9;
            padding: 8px 28px;

            border-bottom: none;

            &:hover {
                text-decoration: none;
                border-bottom: none;
                opacity: 1;
            }
        }
    }

    @media screen and (min-width: 768px) {
        position: absolute;
        display: inline-block;

        bottom: 7%;
        left: 0;
        right: 0;

        margin: 0 auto;

        text-transform: uppercase;
    }
}

.hover {
    opacity: .7;
}
